<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>My Blog</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <h1 class="text-3xl text-pink-700">{{ pageTitle }}</h1>

    {{ content }}
</body>

</html>