<!doctype html>
<html lang="en">
  <head>
    <title>{{ title }}</title>
		<link rel="stylesheet" href="style.css">
  </head>
  <body>
    {{ content | safe }}
    <script src="/assets/main.js"></script>
  </body>
</html>